// My colors

$red1: #E6B0AA;
$red2: #F5B7B1;
$purple1: #D7BDE2;
$purple2: #D2B4DE;
$blue1: #A9CCE3;
$blue2: #AED6F1;
$teal1: #A3E4D7;
$teal2: #A2D9CE;
$green1: #A9DFBF;
$green2: #ABEBC6;
$yellow1: #F9E79F;
$yellow2: #FAD7A0;
$orange1: #F5CBA7;
$orange2: #EDBB99;
$white1: #F7F9F9;
$white2: #E5E7E9;
$lgray1: #D5DBDB;
$lgray2: #CCD1D1;
$dgray1: #AEB6BF;
$dgray2: #ABB2B9;
