@import 'reset';
@import 'breakpoints';
@import 'grid';
@import 'typography';
@import 'colors';
@import 'my_colors';
@import 'vars';
@import 'basics';


// Include the required mixins
@include typography();

// Generic Styles

.header-wrap {
	height: 90vh;
	width: 100vw;
	background: linear-gradient(135deg, $ripe-lemon 0%, $picton-blue-vone 100%);
	color: $black;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header, .footer {
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.page {
	display: flex;
	flex-direction: column;
}
.header, .main, .footer {
	width: 100vw;
}
.main-wrap, .footer-wrap {
	width: 100vw;
}
.main-wrap {
	background-color: $white;
	color: $black;
}
.footer-wrap {
	background-color: $cararra;
	color: black;
	align-self: flex-end;
}
.color {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 33vh;
}
.label {
	background-color: white;
}