@import "variables.css"
/*
    Background colors - #backgrounds
    Colors - #colors
*/

/*
    Background Colors #backgrounds
*/

/*
    Red
*/

.bg--soft-red {
    background-color: var(--soft-red, #EC644B);
}
.bg--chestnut-rose {
    background-color: var(--chestnut-red, #D24D57);
}
.bg--pomegranate {
    background-color: var(--pomegranate, #F22613);
}
.bg--thunderbird {
    background-color: var(--thunderbird, #D91E18);
}
.bg--old-brick {
    background-color: var(--old-brick, #96281B);
}
.bg--flamingo {
    background-color: var(--flamingo, #EF4836);
}
.bg--valenvia {
    background-color: var(--valenvia, #D64541);
}
.bg--tall-poppy {
    background-color: var(--tall-poppy, #C0392B);
}
.bg--monza {
    background-color: var(--monza, #CF000F);
}
.bg--cinnabar {
    background-color: var(--cinnabar, #E74C3C);
}

/*
    Pink
*/
.bg--razzmatazz {
    background-color: var(--razzmatazz, #DB0A5B);
}
.bg--sunset-orange {
    background-color: var(--sunset-orange, #F64747);
}
.bg--wax-flower {
    background-color: var(--wax-flower, #F1A9A0);
}
.bg--cabaret {
    background-color: var(--cabaret, #D2527F);
}
.bg--new-york-pink {
    background-color: var(--new-york-pink, #E08283);
}
.bg--radical-red {
    background-color: var(--radical-red, #F62459);
}
.bg--sunglo {
    background-color: var(--sunglo, #E26A6A);
}

/*
    Purple
*/
.bg--snuff {
    background-color: var(--snuff, #DCC6E0);
}
.bg--rebeccapurple {
    background-color: var(--rebeccapurple, #663399);
}
.bg--honey-flower {
    background-color: var(--honey-flower, #674172);
}
.bg--wistful {
    background-color: var(--wistful, #AEA8D3);
}
.bg--plum {
    background-color: var(--plum, #913D88);
}
.bg--seance {
    background-color: var(--seance, #9A12B3);
}
.bg--medium-purple {
    background-color: var(--medium-purple, #BF55EC);
}
.bg--light-wisteria {
    background-color: var(--light-wisteria, #BE90D4);
}
.bg--studio {
    background-color: var(--studio, #8E44AD);
}
.bg--wisteria {
    background-color: var(--wisteria, #9B59B6);
}

/*
    Blue
*/
.bg--san-marino {
    background-color: var(--san-marino, #446CB3);
}
.bg--alice-blue {
    background-color: var(--salice-blue, #E4F1FE);
}
.bg--royal-blue {
    background-color: var(--royal-blue, #4183D7);
}
.bg--picton-blue-vone {
    background-color: var(--picton-blue-vone, #59ABE3);
}
.bg--spray {
    background-color: var(--spray, #81CFE0);
}
.bg--shakespeare {
    background-color: var(--shakespeare, #52B3D9);
}
.bg--humming-bird {
    background-color: var(--humming-bird, #C5EFF7);
}
.bg--picton-blue-vtwo {
    background-color: var(--picton-blue-vtwo, #22A7F0);
}
.bg--curious-blue {
    background-color: var(--curious-blue, #3498DB);
}
.bg--madison {
    background-color: var(--madison, #2C3E50);
}
.bg--dodger-blue {
    background-color: var(--dodger-blue, #19B5FE);
}
.bg--ming {
    background-color: var(--ming, #336E7B);
}
.bg--ebony-clay {
    background-color: var(--ebony-clay, #22313F);
}
.bg--malibu {
    background-color: var(--malibu, #6BB9F0);
}
.bg--summer-sky {
    background-color: var(--summer-sky, #1E8BC3);
}
.bg--chambray {
    background-color: var(--chambray, #3A539B);
}
.bg--pickled-bluewood {
    background-color: var(--pickled-bluewood, #34495E);
}
.bg--hoki {
    background-color: var(--hoki, #67809F);
}
.bg--jelly-bean {
    background-color: var(--jelly-bean, #2574A9);
}
.bg--jacksons-purple {
    background-color: var(--jacksons-purple, #1F3A93);
}
.bg--jordy-blue {
    background-color: var(--jordy-blue, #89C4F4);
}
.bg--steel-blue {
    background-color: var(--steel-blue, #4B77BE);
}
.bg--fountain-blue {
    background-color: var(--fountain-blue, #5C97BF);
}

/*
    Green
*/
.bg--medium-turquoise {
    background-color: var(--medium-turquoise, #4ECDC4);
}
.bg--aqua-island {
    background-color: var(--aqua-island, #A2DED0);
}
.bg--gossip {
    background-color: var(--gossip, #87D37C);
}
.bg--dark-sea-green {
    background-color: var(--dark-sea-green, #90C695);
}
.bg--eucalyptus {
    background-color: var(--eucalyptus, #26A65B);
}
.bg--caribbean-green {
    background-color: var(--caribbean-green, #03C9A9);
}
.bg--silver-tree {
    background-color: var(--silver-tree, #68C3A3);
}
.bg--downy {
    background-color: var(--downy, #65C6BB);
}
.bg--mountain-meadow {
    background-color: var(--mountain-meadow, #1BBC9B);
}
.bg--light-sea-green {
    background-color: var(--light-sea-green, #1BA39C);
}
.bg--medium-aquamarine {
    background-color: var(--medium-aquamarine, #66CC99);
}
.bg--turquoise {
    background-color: var(--turquoise, #36D7B7);
}
.bg--madang {
    background-color: var(--madang, #C8F7C5);
}
.bg--riptide {
    background-color: var(--riptide, #86E2D5);
}
.bg--shamrock {
    background-color: var(--shamrock, #2ECC71);
}
.bg--niagra-vone {
    background-color: var(--niagra-vone, #16A085);
}
.bg--emerald {
    background-color: var(--emerald, #3FC380);
}
.bg--green-haze {
    background-color: var(--green-haze, #019875);
}
.bg--free-speech-aquamarine {
    background-color: var(--free-speech-aquamarine, #03A678);
}
.bg--ocean-green {
    background-color: var(--ocean-green, #4DAF7C);
}
.bg--niagra-vtwo {
    background-color: var(--niagra-vtwo, #2ABB9B);
}
.bg--jade {
    background-color: var(--jade, #00B16A);
}
.bg--salem {
    background-color: var(--salem, #1E824C);
}
.bg--observatory {
    background-color: var(--observatory, #049372);
}
.bg--jungle-green {
    background-color: var(--jungle-green, #26C281);
}

/*
    Yellow
*/
.bg--cream-can {
    background-color: var(--cream-can, #F5D76E);
}
.bg--ripe-lemon {
    background-color: var(--ripe-lemon, #F7CA18);
}
.bg--saffron {
    background-color: var(--saffron, #F4D03F);
}

/*
    Orange
*/
.bg--confetti {
    background-color: var(--confetti, #E9D460);
}
.bg--cape-honey {
    background-color: var(--cape-honey, #FDE3A7);
}
.bg--california {
    background-color: var(--california, #F89406);
}
.bg--fire-bush {
    background-color: var(--fire-bush, #EB9532);
}
.bg--tahiti-gold {
    background-color: var(--tahiti-gold, #E87E04);
}
.bg--casablanca {
    background-color: var(--casablanca, #F4B350);
}
.bg--crusta {
    background-color: var(--crusta, #F2784B);
}
.bg--sea-buckthorn {
    background-color: var(--sea-buckthorn, #EB974E);
}
.bg--lightning-yellow {
    background-color: var(--lightning-yellow, #F5AB35);
}
.bg--burnt-orange {
    background-color: var(--burnt-orange, #D35400);
}
.bg--buttercup {
    background-color: var(--buttercup, #F39C12);
}
.bg--ecstasy {
    background-color: var(--ecstasy, #F9690E);
}
.bg--sandstorm {
    background-color: var(--sandstorm, #F9BF3B);
}
.bg--jaffa {
    background-color: var(--jaffa, #F27935);
}
.bg--zest {
    background-color: var(--zest, #E67E22);
}

/*
    Gray
*/
.bg--white-smoke {
    background-color: var(--white-smoke, #ECECEC);
}
.bg--lynch {
    background-color: var(--lynch, #6C7A89);
}
.bg--pumice {
    background-color: var(--pumice, #D2D7D3);
}
.bg--gallery {
    background-color: var(--gallery, #EEEEEE);
}
.bg--silver-sand {
    background-color: var(--silver-sand, #BDC3C7);
}
.bg--porcelain {
    background-color: var(--porcelain, #ECF0F1);
}
.bg--cascade {
    background-color: var(--cascade, #95A5A6);
}
.bg--iron {
    background-color: var(--iron, #DADFE1);
}
.bg--edward {
    background-color: var(--edward, #ABB7B7);
}
.bg--cararra {
    background-color: var(--cararra, #F2F1EF);
}
.bg--silver {
    background-color: var(--silver, #BFBFBF);
}

/*
    Colors - #colors
*/
/*
    Red
*/

.clr--soft-red {
    color: var(--soft-red, #EC644B);
}
.clr--chestnut-rose {
    color: var(--chestnut-red, #D24D57);
}
.clr--pomegranate {
    color: var(--pomegranate, #F22613);
}
.clr--thunderbird {
    color: var(--thunderbird, #D91E18);
}
.clr--old-brick {
    color: var(--old-brick, #96281B);
}
.clr--flamingo {
    color: var(--flamingo, #EF4836);
}
.clr--valenvia {
    color: var(--valenvia, #D64541);
}
.clr--tall-poppy {
    color: var(--tall-poppy, #C0392B);
}
.clr--monza {
    color: var(--monza, #CF000F);
}
.clr--cinnabar {
    color: var(--cinnabar, #E74C3C);
}

/*
    Pink
*/
.clr--razzmatazz {
    color: var(--razzmatazz, #DB0A5B);
}
.clr--sunset-orange {
    color: var(--sunset-orange, #F64747);
}
.clr--wax-flower {
    color: var(--wax-flower, #F1A9A0);
}
.clr--cabaret {
    color: var(--cabaret, #D2527F);
}
.clr--new-york-pink {
    color: var(--new-york-pink, #E08283);
}
.clr--radical-red {
    color: var(--radical-red, #F62459);
}
.clr--sunglo {
    color: var(--sunglo, #E26A6A);
}

/*
    Purple
*/
.clr--snuff {
    color: var(--snuff, #DCC6E0);
}
.clr--rebeccapurple {
    color: var(--rebeccapurple, #663399);
}
.clr--honey-flower {
    color: var(--honey-flower, #674172);
}
.clr--wistful {
    color: var(--wistful, #AEA8D3);
}
.clr--plum {
    color: var(--plum, #913D88);
}
.clr--seance {
    color: var(--seance, #9A12B3);
}
.clr--medium-purple {
    color: var(--medium-purple, #BF55EC);
}
.clr--light-wisteria {
    color: var(--light-wisteria, #BE90D4);
}
.clr--studio {
    color: var(--studio, #8E44AD);
}
.clr--wisteria {
    color: var(--wisteria, #9B59B6);
}

/*
    Blue
*/
.clr--san-marino {
    color: var(--san-marino, #446CB3);
}
.clr--alice-blue {
    color: var(--salice-blue, #E4F1FE);
}
.clr--royal-blue {
    color: var(--royal-blue, #4183D7);
}
.clr--picton-blue-vone {
    color: var(--picton-blue-vone, #59ABE3);
}
.clr--spray {
    color: var(--spray, #81CFE0);
}
.clr--shakespeare {
    color: var(--shakespeare, #52B3D9);
}
.clr--humming-bird {
    color: var(--humming-bird, #C5EFF7);
}
.clr--picton-blue-vtwo {
    color: var(--picton-blue-vtwo, #22A7F0);
}
.clr--curious-blue {
    color: var(--curious-blue, #3498DB);
}
.clr--madison {
    color: var(--madison, #2C3E50);
}
.clr--dodger-blue {
    color: var(--dodger-blue, #19B5FE);
}
.clr--ming {
    color: var(--ming, #336E7B);
}
.clr--ebony-clay {
    color: var(--ebony-clay, #22313F);
}
.clr--malibu {
    color: var(--malibu, #6BB9F0);
}
.clr--summer-sky {
    color: var(--summer-sky, #1E8BC3);
}
.clr--chambray {
    color: var(--chambray, #3A539B);
}
.clr--pickled-bluewood {
    color: var(--pickled-bluewood, #34495E);
}
.clr--hoki {
    color: var(--hoki, #67809F);
}
.clr--jelly-bean {
    color: var(--jelly-bean, #2574A9);
}
.clr--jacksons-purple {
    color: var(--jacksons-purple, #1F3A93);
}
.clr--jordy-blue {
    color: var(--jordy-blue, #89C4F4);
}
.clr--steel-blue {
    color: var(--steel-blue, #4B77BE);
}
.clr--fountain-blue {
    color: var(--fountain-blue, #5C97BF);
}

/*
    Green
*/
.clr--medium-turquoise {
    color: var(--medium-turquoise, #4ECDC4);
}
.clr--aqua-island {
    color: var(--aqua-island, #A2DED0);
}
.clr--gossip {
    color: var(--gossip, #87D37C);
}
.clr--dark-sea-green {
    color: var(--dark-sea-green, #90C695);
}
.clr--eucalyptus {
    color: var(--eucalyptus, #26A65B);
}
.clr--caribbean-green {
    color: var(--caribbean-green, #03C9A9);
}
.clr--silver-tree {
    color: var(--silver-tree, #68C3A3);
}
.clr--downy {
    color: var(--downy, #65C6BB);
}
.clr--mountain-meadow {
    color: var(--mountain-meadow, #1BBC9B);
}
.clr--light-sea-green {
    color: var(--light-sea-green, #1BA39C);
}
.clr--medium-aquamarine {
    color: var(--medium-aquamarine, #66CC99);
}
.clr--turquoise {
    color: var(--turquoise, #36D7B7);
}
.clr--madang {
    color: var(--madang, #C8F7C5);
}
.clr--riptide {
    color: var(--riptide, #86E2D5);
}
.clr--shamrock {
    color: var(--shamrock, #2ECC71);
}
.clr--niagra-vone {
    color: var(--niagra-vone, #16A085);
}
.clr--emerald {
    color: var(--emerald, #3FC380);
}
.clr--green-haze {
    color: var(--green-haze, #019875);
}
.clr--free-speech-aquamarine {
    color: var(--free-speech-aquamarine, #03A678);
}
.clr--ocean-green {
    color: var(--ocean-green, #4DAF7C);
}
.clr--niagra-vtwo {
    color: var(--niagra-vtwo, #2ABB9B);
}
.clr--jade {
    color: var(--jade, #00B16A);
}
.clr--salem {
    color: var(--salem, #1E824C);
}
.clr--observatory {
    color: var(--observatory, #049372);
}
.clr--jungle-green {
    color: var(--jungle-green, #26C281);
}

/*
    Yellow
*/
.clr--cream-can {
    color: var(--cream-can, #F5D76E);
}
.clr--ripe-lemon {
    color: var(--ripe-lemon, #F7CA18);
}
.clr--saffron {
    color: var(--saffron, #F4D03F);
}

/*
    Orange
*/
.clr--confetti {
    color: var(--confetti, #E9D460);
}
.clr--cape-honey {
    color: var(--cape-honey, #FDE3A7);
}
.clr--california {
    color: var(--california, #F89406);
}
.clr--fire-bush {
    color: var(--fire-bush, #EB9532);
}
.clr--tahiti-gold {
    color: var(--tahiti-gold, #E87E04);
}
.clr--casablanca {
    color: var(--casablanca, #F4B350);
}
.clr--crusta {
    color: var(--crusta, #F2784B);
}
.clr--sea-buckthorn {
    color: var(--sea-buckthorn, #EB974E);
}
.clr--lightning-yellow {
    color: var(--lightning-yellow, #F5AB35);
}
.clr--burnt-orange {
    color: var(--burnt-orange, #D35400);
}
.clr--buttercup {
    color: var(--buttercup, #F39C12);
}
.clr--ecstasy {
    color: var(--ecstasy, #F9690E);
}
.clr--sandstorm {
    color: var(--sandstorm, #F9BF3B);
}
.clr--jaffa {
    color: var(--jaffa, #F27935);
}
.clr--zest {
    color: var(--zest, #E67E22);
}

/*
    Gray
*/
.clr--white-smoke {
    color: var(--white-smoke, #ECECEC);
}
.clr--lynch {
    color: var(--lynch, #6C7A89);
}
.clr--pumice {
    color: var(--pumice, #D2D7D3);
}
.clr--gallery {
    color: var(--gallery, #EEEEEE);
}
.clr--silver-sand {
    color: var(--silver-sand, #BDC3C7);
}
.clr--porcelain {
    color: var(--porcelain, #ECF0F1);
}
.clr--cascade {
    color: var(--cascade, #95A5A6);
}
.clr--iron {
    color: var(--iron, #DADFE1);
}
.clr--edward {
    color: var(--edward, #ABB7B7);
}
.clr--cararra {
    color: var(--cararra, #F2F1EF);
}
.clr--silver {
    color: var(--silver, #BFBFBF);
}
